---
import TopTitle from "../components/TopTitle.astro";
import Layout from "../layouts/Layout.astro";
import * as m from "../paraglide/messages.js";
---

<Layout title={m.experiences_s({ s: " — Julio Rahman" })}>
  <main>
    <TopTitle />
  </main>
</Layout>
