---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";

import carouselImage from "../assets/carousel.jpg";

import panintiImage1 from "../assets/project-paninti-1.png";
import panintiImage2 from "../assets/project-paninti-2.png";
---

<Layout title="Julio Rahman">
  <main>
    <Header />
    <Project
      name="Paninti"
      description="Paninti is an online shopping platform that provides the necessities to make your life easier. Paninti offers a variety of products for the needs of mothers and children, as well as lifestyle."
      techStack="Kotlin, Android Jetpack, Kotlin Coroutines, MVVM, Firebase, Hilt, Room, DataStore, Retrofit, Google Maps, Gradle, Git, Material Design 2"
      images={[panintiImage1, panintiImage2]}
    />
    <Project
      name="Parenting Hub"
      description="Sosmed"
      techStack="Kotlin, Android Jetpack, Kotlin Coroutines, MVVM, Firebase, Hilt, Room, DataStore, Retrofit, Google Maps, Gradle, Git, Material Design 2"
      images={[carouselImage, carouselImage, carouselImage]}
    />
    <Project
      name="Paninti Super App"
      description="Fusion Paninti and Parenting Hub"
      techStack="Kotlin, Android Jetpack, Kotlin Coroutines, MVVM, Firebase, Hilt, Room, DataStore, Retrofit, Google Maps, Gradle, Git, Material Design 2"
      images={[carouselImage, carouselImage, carouselImage]}
    />
    <Project
      name="Kocequ"
      description="Fintech"
      techStack="Kotlin, Android Jetpack, Kotlin Coroutines, MVVM, Firebase, Hilt, Room, DataStore, Retrofit, Google Maps, Gradle, Git, Material Design 2"
      images={[carouselImage, carouselImage, carouselImage]}
    />
  </main>
</Layout>
