---
import Layout from "../layouts/Layout.astro";
import TopTitle from "../components/TopTitle.astro";
import Project from "../components/Project.astro";

import * as m from "../paraglide/messages.js";

import carouselImage from "../assets/carousel.jpg";

import panintiImage1 from "../assets/project-paninti-1.png";
import panintiImage2 from "../assets/project-paninti-2.png";
import parentingHubImage1 from "../assets/project-parenting-hub-1.png";
import parentingHubImage2 from "../assets/project-parenting-hub-2.png";
import kocequImage2 from "../assets/project-kocequ-2.png";
import lezatImage1 from "../assets/project-lezat-1.png";
import lezatImage2 from "../assets/project-lezat-2.png";
---

<Layout title={m.projects_s({ s: " — Julio Rahman" })}>
  <main class="p-4 md:p-10">
    <TopTitle
      titleRawHTMLString={m.projects_top_title()}
      description={m.projects_top_title_desc()}
    />
    <div class="mx-auto grid max-w-4xl gap-12">
      <Project
        name="Paninti App"
        description="Paninti is an online shopping platform offering a variety of products for mothers, children, and lifestyle needs. As my third major project at Paninti, I joined the team to refactor and develop new features for this long-running app, which had been managed by multiple developers since 2020."
        descriptionExpandedRawHTMLString=`<p>Key Contributions:</p><ul><li>Implemented redesign and extensive refactoring</li><li>Developed new features: presale, affiliates, and fulfillment</li><li>Upgraded to modern tech stack</li><li>Utilized Airbnb/Epoxy library for efficient UI rendering</li><li>Implemented Kotlin Coroutines for improved asynchronous programming</li></ul><p>This project provided valuable experience in addressing real-life development challenges and modernizing a complex, established application.</p>`
        techStack={"Kotlin, Android Jetpack, MVVM, Firebase, Google Maps, Material Design 2".split(
          ", ",
        )}
        images={[panintiImage1, panintiImage2]}
      />
      <Project
        name="Parenting Hub"
        description="Parenting Hub is a social media and community platform for parents to share articles and experiences about parenting. This was my first project upon joining Paninti. I inherited an existing, unreleased app plagued with bugs and frequent force closes. After careful consideration, our team decided to completely rewrite the Android application."
        descriptionExpandedRawHTMLString=`<p>Key Contributions:</p><ul><li>Participated in the complete rewrite of the Android application</li><li>Reimplemented all features from scratch</li><li>Focused on stability and performance optimization</li><li>Achieved zero force closes, significantly improving user experience</li><li>Prepared the app for successful release on the Play Store</li></ul><p>This project showcased my ability to tackle complex, existing codebases, make critical decisions for project improvement, and deliver a stable, user-friendly application from a problematic starting point.</p>`
        techStack={"Kotlin, Android Jetpack, MVVM, Firebase, Material Design 2".split(
          ", ",
        )}
        images={[parentingHubImage1, parentingHubImage2]}
      />
      <Project
        name="Paninti Super App"
        description="Fusion Paninti and Parenting Hub"
        techStack={"Kotlin, Android Jetpack, MVVM, Modularization, Firebase, Google Maps, Material Design 3".split(
          ", ",
        )}
        images={[carouselImage, carouselImage, carouselImage]}
      />
      <Project
        name="Kocequ"
        description="Fintech"
        techStack={"Kotlin, Android Jetpack, MVP, Firebase, Google Maps, Biometrics, Material Design 2".split(
          ", ",
        )}
        images={[kocequImage2]}
      />
      <Project
        name="Lezat"
        description="Recipe App"
        techStack={"Kotlin, Android Jetpack, MVVM, Material Design 2".split(
          ", ",
        )}
        images={[lezatImage1, lezatImage2]}
      />
    </div>
  </main>
</Layout>
