---
import { Picture } from "astro:assets";

interface Props {
  srcs: ImageMetadata[];
}

const { srcs } = Astro.props;
---

<div
  class="embla aspect-[3/2] rounded-t-img cursor-grab overflow-hidden active:cursor-grabbing"
>
  <div class="flex">
    {
      srcs.map((src) => (
        <div class="min-w-0 shrink-0 grow-0 basis-full">
          <Picture src={src} class="w-full" loading="eager" alt="" />
        </div>
      ))
    }
  </div>
</div>
