---
import Carousel from "./Carousel.astro";

interface Props {
  name: string;
  description: string;
  techStack: string;
  images: ImageMetadata[];
}

const { name, description, techStack, images } = Astro.props;
---

<div class="mb-36 mt-12 text-center">
  <Carousel srcs={images} />
  <p
    class="mx-4 mb-4 mt-10 max-w-screen-md font-serif text-4xl font-normal text-zinc-900 md:mx-auto dark:text-zinc-50"
  >
    {name} | <span class="carousel-project-indicator"></span>
  </p>
  <p class="mx-4 mb-6 max-w-screen-md text-xl md:mx-auto">
    {description}
  </p>
  <p class="mx-4 mb-6 max-w-screen-md text-sm uppercase md:mx-auto">
    {techStack}
  </p>
</div>
