---
import Carousel from "./Carousel.astro";
import "../styles/embla.css";

interface Props {
  name: string;
  description: string;
  techStack: string[];
  images: ImageMetadata[];
}

const { name, description, techStack, images } = Astro.props;
---

<div class="rounded-img border border-zinc-950/20 dark:border-white/20">
  <Carousel srcs={images} />
  <div class="space-y-4 p-6">
    <div>
      <div class="flex flex-row justify-between">
        <h3
          class="font-serif text-4xl font-normal text-zinc-900 dark:text-zinc-50"
        >
          {name}
        </h3>
        <div class="embla__dots"></div>
      </div>
      <p class="pt-2 text-xl">{description}</p>
    </div>
    <div>
      <ul class="mt-2 flex flex-wrap gap-2">
        {
          techStack.map((item) => (
            <li class="rounded-full border border-zinc-950/30 px-3 py-1 text-sm dark:border-white/30">
              {item}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
