---
import Navbar from "../components/Navbar.astro";
import "@fontsource-variable/inter";
import "@fontsource-variable/montagu-slab";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      function toggleTheme() {
        if (localStorage.theme === "dark") {
          localStorage.theme = "light";
        } else {
          localStorage.theme = "dark";
        }
        window.location.reload();
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-white dark:bg-zinc-800">
    <Navbar />
    <slot />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"
    ></script>
  </body>
</html>
